<!DOCTYPE html>
<html>
<head>
<title>Blood Donation</title>
<meta name="google-site-verification" content="RQk1QGXxUEPdneDlJ_J0Oth7n5F0VZdDRRblp2L0rtM" />
</head>
<body>
    <font color="Red"><h1>Welcome to Blood Bank, {{ username }}!</h1></font>
<table align="right">
  <body Vlink="Blue">
  <tr>
    <td><LI><font size=4><A href="/index">Home</A></LI></td></font>
    <td><LI><font size=4><A href="/dashboard">Dashboard</A></LI></td></font>
    <td><LI><font size=4><A href="/register">Registration</A></LI></td></font>
    <td><LI><font size=4><A href="/search">Search</A></LI></td></font>
    <td><LI><font size=4><A href="/delete">Delete</A></LI></td></font>
    <td><LI><font size=4><A href="/logout">Log Out</A></LI></td></font>
  </tr>
  </table>
</body>
</html>
